<dbk-navbar [homePage]="false" [daybookNeeded]="true" [userImgNeeded]="true"></dbk-navbar>

<div class="background">
  <div class="tasksList">
    <div class="sticker primordiales">
      <h2>Quêtes primordiales</h2>
    <ol>
      <li>
        <img src="../../../assets/pangolinIcon.png">
        Toto

      </li>
    </ol></div>
    <div class="sticker importantes">
      <h2>Quêtes importantes</h2>
    <ol>
      <li><img src="../../../assets/pangolinIcon.png">
        Tutu
      </li>
    </ol></div>
    <div class="sticker facultatives">
      <h2>Quêtes facultatives</h2>
    <ol>
      <li>
        <img src="../../../assets/pangolinIcon.png">
        Tata
      </li>
    </ol></div>
  </div>
</div>

<dbk-footer></dbk-footer>
