h1 {
  margin-right: 20px;
}

.navbar-content {
  width: 100%;
  display: flex;
  background-color: #FA9E9D;
  height: 100%;
}

.title-navbar-home {
  display: flex;
  justify-content: center;
  align-items: center;
  color : #FFFFFF;
  width: 100%;
  height: 100%;
}

.title-navbar-home h1 {
  font-size: 5rem;
}

.title-navbar-home img{
  height: 100px;
  width: 100px;
  margin: 10px 20px 10px 0;
  margin-left: 25px;
}

.title-navbar-other {
  display: flex;
  align-items: center;
  color : #FFFFFF;
  height: 100%;
  width: 70%;
}

.title-navbar-other h1 {
  font-size: 2.8rem;
  margin-left: 75px;
}

.title-navbar-other img{
  height: 70px;
  width: 70px;
  margin: 10px 25px 10px 0;
}

.navbar-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%;
  margin-right: 50px;
}

.navbar-info h2{
  color : #FFFFFF;
  font-size: 2rem;
  margin-right: 25px;
}

.navbar-info h2 a {
  text-decoration: none;
  color: white;
}

#avatar {
  margin-top: 5px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px white;
  height: 75px;
  width: 75px;
  cursor: pointer;
}

#avatar:hover {
  opacity: 0.8;
}

.navbar-menu {
  order: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

:host ::ng-deep .ui-menu {
  font-size: 20px;
  width: 225px;
  background-color: white;
}

a:hover {
  cursor: pointer;
  background-color: #ffcfcf;
  border-radius: 8px;
  padding:3px;
}

.hide {
  display: none;
}

.show {
  opacity: 0;
  animation: fadein 0.2s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: white;
  color: #FA9E9D;
  border: solid 2px #FA9E9D;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.show h1 {
  margin-top: 20px;
  align-self: center;
  margin-right: 0;
  padding: 10px;
}

.logoff-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logoff-buttons button {
  background-color: #FA9E9D;
  color: white;
  font-size: 35px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.transparance {
  animation: backcolor 0.2s linear;
  background-color: rgba(255, 255, 255, 0.808);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@keyframes backcolor {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.808);
  }

}

@media (max-width: 1024px) {

  .title-navbar-home h1 {
    font-size: 3.5rem;
  }

  .title-navbar-other {
    width: 70%;
  }

  .navbar-info {
    width: 30%;
  }

  .navbar-info h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 10px;
  }

  .title-navbar-other img{
    height: 60px;
    width: 60px;
  }

  .title-navbar-other h1 {
    font-size: 2rem;
    margin-left: 30px;
  }

  #avatar {
    height: 60px;
    width: 60px;
  }

  :host ::ng-deep .ui-menu {
    position: absolute;
    left: 25%;
  }
}

@media (max-width: 769px) {

  .title-navbar-home h1 {
    font-size: 2.45rem;
  }

  .title-navbar-home img{
    height: 85px;
    width: 85px;
  }

  .title-navbar-other h1 {
    font-size: 1.4rem;
  }

  .title-navbar-other img{
    height: 45px;
    width: 45px;
  }

  #avatar {
    height: 55px;
    width: 55px;
  }

  .navbar-info {
    margin-right: 20px;
  }

  .navbar-info h2 {
    font-size: 1rem;
  }

}

@media screen and (max-width: 576px) {

  .title-navbar-home h1{
    font-size: 2rem;
    margin-right: 0px;
  }

  .title-navbar-home img{
    height: 65px;
    width: 65px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .title-navbar-other h1 {
    font-size: 1.1rem;
    margin: 0;
    margin-left: 20px;
  }

  .title-navbar-other img{
    height: 35px;
    width: 35px;
    margin-left: 10px;
  }

  .navbar-info {
    margin-right: 20px;
  }

  #avatar {
    height: 45px;
    width: 45px;
  }

}

@media screen and (max-width: 425px) {

  .title-navbar-home h1 {
    font-size: 1.5rem;
  }

  .title-navbar-other h1 {
    font-size: 0.9rem;
  }

  .navbar-info h2 {
    font-size: 0.8rem;
  }

  #avatar {
    height: 40px;
    width: 40px;
  }

  .title-navbar-other img{
    height: 30px;
    width: 30px;
  }

}
