h1 {
  margin-right: 20px;
}

.navbar-container {
  background-color: #FA9E9D;
}

.navbar-content {
  width: 100%;
  display: flex;
}

.title-navbar-home {
  display: flex;
  justify-content: center;
  align-items: center;
  color : #FFFFFF;
  font-size: 40px;
  width: 100%;
  height: 140px;
}

.title-navbar-home img{
  height: 120px;
  width: 120px;
  margin-left: 25px;
}

.title-navbar-other {
  display: flex;
  align-items: center;
  color : #FFFFFF;
  font-size: 28px;
  height: 100px;
  width: 50%;
  margin-left: 100px;
}

.title-navbar-other img{
  max-height: 85px;
  width: 85px;
}

.navbar-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.navbar-info h2{
  color : #FFFFFF;
  font-size: 30px;
  margin-right: 50px;
}

.navbar-info h2 a {
  text-decoration: none;
  color: white;
}

.navbar-info  img{
  height: 90px;
  width: 90px;
  cursor: pointer;
  margin-right: 50px;
}

.navbar-menu {
  order: 1;
}

:host ::ng-deep .ui-menu {
  font-size: 20px;
  width: 225px;
  background-color: white;
}

a:hover {
  cursor: pointer;
  background-color: #ffcfcf;
  border-radius: 8px;
  padding:3px;
}

.hide {
  display: none;
}

.show {
  opacity: 0;
  animation: fadein 0.1s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: white;
  color: #FA9E9D;
  border: solid 2px #FA9E9D;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.show h1 {
  margin-top: 20px;
  align-self: center;
  margin-right: 0;
  padding: 10px;
}

.logoff-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logoff-buttons button {
  background-color: #FA9E9D;
  color: white;
  font-size: 35px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

#avatar {
  margin-top: 3px;
  border-radius: 50%;
  height: 80px;
  width: auto;
  border: solid 2px white;
}
#avatar:hover {
  opacity: 90%;
  height : 110%;
}
