h1 {
  margin-right: 20px;
}

.navbar-container {
  background-color: #FA9E9D;
  height: 100%;
}

.navbar-content {
  width: 100%;
  display: flex;
  height: 100%;
  background-color: #FA9E9D
}

.title-navbar-home {
  display: flex;
  justify-content: center;
  align-items: center;
  color : #FFFFFF;
  font-size: 2.25rem;
  width: 100%;
  height: 100%;
}

.title-navbar-home img{
  height: 100px;
  width: 100px;
  margin: 10px 20px 10px 0;
  margin-left: 25px;
}

.title-navbar-other {
  display: flex;
  align-items: center;
  color : #FFFFFF;
  font-size: 1.65vw;
  height: 100%;
}

.title-navbar-other h1 {
  font-size: 3vw;
  margin-left: 5vw;
}

.title-navbar-other img{
  height: 5.25vw;
  width: 5.25vw;
  margin: 10px 25px 10px 0;
}

.navbar-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}

.navbar-info h2{
  color : #FFFFFF;
  font-size: 30px;
  margin-right: 50px;
}

.navbar-info h2 a {
  text-decoration: none;
  color: white;
}

#avatar {
  margin-top: 3px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px white;
  height: 5vw;
  width: 5vw;
  cursor: pointer;
}

#avatar:hover {
  opacity: 0.8;
}

.navbar-menu {
  order: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

:host ::ng-deep .ui-menu {
  font-size: 20px;
  width: 225px;
  background-color: white;
}

a:hover {
  cursor: pointer;
  background-color: #ffcfcf;
  border-radius: 8px;
  padding:3px;
}

.hide {
  display: none;
}

.show {
  opacity: 0;
  animation: fadein 0.2s linear;
  animation-fill-mode: forwards;
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: white;
  color: #FA9E9D;
  border: solid 2px #FA9E9D;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.show h1 {
  margin-top: 20px;
  align-self: center;
  margin-right: 0;
  padding: 10px;
}

.logoff-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logoff-buttons button {
  background-color: #FA9E9D;
  color: white;
  font-size: 35px;
  border: none;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.transparance {
  animation: backcolor 0.2s linear;
  background-color: rgba(255, 255, 255, 0.808);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@keyframes backcolor {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.808);
  }

}

@media screen and (max-width: 850px) {
  .title-navbar-home {
    font-size: 0.8rem;
  }

  .title-navbar-home h1 {
    margin-right: 0px;
    margin-left: 25px;
  }

  .title-navbar-home img{
    height: 70px;
    width: 70px;
  }

  .title-navbar-other h1 {
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }

  .title-navbar-other img{
    height: 40px;
    width: 40px;
    margin: 0px;
  }

  #avatar {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

}
