<div class="navbar-container">
  <div class="navbar-content">
    <div *ngIf="homePage" class="title-navbar-home">
      <h1>Le journal d'un Pangolin</h1>
      <img class="notebook" src="assets/notebook2.png">
    </div>
    <div *ngIf="!homePage" class="title-navbar-other">
      <h1>Le journal d'un Pangolin</h1>
      <img src="assets/notebook2.png">
    </div>
    <div *ngIf="navigationNeeded" class="navbar-info">
      <div class="navbar-menu">
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <img type="button" (click)="menu.toggle($event)" src="assets/user-profile.png">
      </div>
      <div *ngIf="daybookNeeded">
          <h2><a (click)="goToForm()">Mon Journal</a></h2>
      </div>
    </div>
  </div>
</div>

