<div class= "footer-container">
  <div class="footer-content">
    <a href="https://www.wildcodeschool.com/fr-FR/campus/bordeaux" target="_blank"><b>Wild Code School Bordeaux </b></a><p>- 9 Allée Serr 33100 Bordeaux - Nous rejoindre sur les réseaux sociaux :</p>
    <a href="https://www.facebook.com/WildCodeSchool" target="_blank" class ="fa fa-facebook"></a>
    <a href="https://twitter.com/WildSchool_Bdx" target="_blank" class ="fa fa-twitter"></a>
    <a href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr" class="fa fa-instagram" target="_blank"></a>
  </div>
<hr>
  <div class="footer-legal-mention">
    <p> Copyright &copy; 2020, Wild Code School</p>
  </div>
</div>

