.footer-container {
  width: 100%;
  background-color: #FA9E9D;
  color: white;
  height: 100%;
}

hr {
  width: 100%;
  margin-top: 25px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
}

.wcs h3 {
  margin: 0;
  font-size: 2rem;
  margin-top: 15px;
  color: white;
}

.footer-content p {
  font-size: 1.3rem;
}

.social-media {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 15px;
}

.footer-mobile {
  display: none;
}

.logo-rs {
  display: flex;
}

.fa {
  padding: 10px;
  width: 40px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
  margin-left: 15px;
}

.fa-facebook{
  background: #3B5998;
  color: white;
  display: flex;
  justify-content: center;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  display: flex;
  justify-content: center;
}

.fa-instagram {
  background: linear-gradient(to top right, #FFDC80, #F77737, #F56040, #FD1D1D, #E1306C, #833AB4, #405DE6);
  color: white;
  display: flex;
  justify-content: center;
}

.footer-legal-mention {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30%;
  padding: 10px;
  background-color: #FA9E9D;
  border-top: solid 1px white;
}

.footer-legal-mention p {
  font-size: 1.15rem;
  margin-left: 5px;
}

.footer-legal-mention a {
  color: white;
  font-weight: bold;
  font-size: 1.15rem;
}

@media screen and (min-width: 2000px) {
  .wcs h3 {
    font-size: 3rem;
  }

  .footer-content p {
    font-size: 2.15rem;
  }

  .footer-mobile {
    display: none;
  }

  .logo-rs {
    display: flex;
  }

  .fa {
    font-size: 2rem;
    padding: 20px;
    width: 70px;
  }

  .footer-legal-mention {
    height: 35%;
}

  .footer-legal-mention p {
    font-size: 2.15rem;
  }

  .footer-legal-mention a {
    font-size: 2.15rem;
  }
}

@media (max-width: 1024px) {

  .wcs h3 {
    font-size: 1.5rem;
  }

  .footer-content p {
    font-size: 1rem;
  }

  .footer-legal-mention {
    padding: 10px;
  }

  .footer-legal-mention p {
    font-size: 0.8rem;
  }

  .footer-legal-mention a {
    font-size: 0.7rem;
  }

  .social-media {
    margin-bottom: 0px;
  }

  .fa {
    padding: 8px;
    width: 35px;
  }

}

@media (max-width: 769px) {

  .footer-legal-mention {
    flex-direction: column;
  }

  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: flex;
  }
}

@media screen and (max-width: 576px) {


}

@media screen and (max-width: 425px) {
  .wcs h3 {
    font-size: 1rem;
  }

  .footer-content p {
    font-size: 0.8rem;
  }

  .footer-legal-mention p {
    font-size: 0.6rem;
  }

  .footer-legal-mention a {
    font-size: 0.6rem;
  }

  .fa {
    padding: 5px;
    width: 30px;
  }

}
