.footer-container {
  height: 150px;
  width: 100%;
  background-color: #FA9E9D;
  padding: 0;
  font-size: 25px;
  color: white;
}

small {
  margin-left: 15px;
}

hr {
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-left: 15px;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer-legal-mention {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
}


.footer-legal-mention img {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
