<div class= "footer-container">
  <div class="footer-content">
    <div class="wcs-content">
      <a href="https://www.wildcodeschool.com/fr-FR/campus/bordeaux" target="_blank" class="wcs"><h3>Wild Code School Bordeaux</h3></a>
    </div>
    <div class="social-media">
      <p class="footer-desktop">9 Allée Serr 33100 Bordeaux - Nous rejoindre sur les réseaux sociaux :</p>
      <p class="footer-mobile">9 Allée Serr 33100 Bordeaux</p>
      <div class="logo-rs">
        <a href="https://www.facebook.com/WildCodeSchool" target="_blank" class ="fa fa-facebook"></a>
        <a href="https://twitter.com/WildSchool_Bdx" target="_blank" class ="fa fa-twitter"></a>
        <a href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr" class="fa fa-instagram" target="_blank"></a>
      </div>
    </div>
  </div>
  <div class="footer-legal-mention">
    <p> Copyright &copy; 2020, Wild Code School - </p>
    <p> Fait avec ❤ par
      <a href="https://www.linkedin.com/in/bryan-even/" target="_blank">Bryan EVEN</a>,
      <a href="https://www.linkedin.com/in/pierre-henri-jautard/" target="_blank">Pierre-Henri JAUTARD</a> et
      <a href="https://www.linkedin.com/in/cl%C3%A9ment-cheradame-b03aa814b/" target="_blank">Clément CHERADAME</a></p>
  </div>
</div>

