.background{
  background-image: url(../../../assets/capture.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.desk{
  width: 1000px;
  height: 850px;
  margin-left: 15%;
  padding-top: 2%;
  padding-bottom: 3%;
  color: #6b5c52;
}

.theme{
  font-size: 1.3em;
  margin-top: 1%;
}

input{
  width: 33%;
  color: #F99797;
  font-weight: bold;
  font-size: 1.1em;
}

p-dropdown{
  color: #F99797;
  }

:host ::ng-deep.ui-dropdown-label {
  color: #F9A5A5;
  font-size: 1.1em;
  background-color: transparent;
}

:host ::ng-deep.ui-dropdown-panel{
  background-color: white;
}


.desk {
  display: flex;
  flex-direction: column;
}
form{
  display: flex;
  flex-direction: column;
}

.taskdef{
  padding: 2%;
  justify-content: space-between;
  display: inline-flex;

}

.notes{
  color: #6b5c52;
  font-size: 1em;
  overflow: auto;
  height: 564px;
  width: 378px;
  background: url('../../../assets/whitenotepad.png');
  padding: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  transform : rotate(-20deg);
}

.notes li{
  padding: 1%;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.pins{
  vertical-align: middle;
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-right: 5px;
}
.notes h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.importance {
  font-size: 1.3rem;
}
.primordiales{
 color: #F57BA8;
}
.facultatives{
 color: rgb(184, 173, 124);
}
.importantes{
 color: rgb(129, 200, 202);
}
.send{
  margin: auto;
  width: 40%;
}
.buttons{
  display: flex;
  flex-direction: row;
}
#iconedit{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
#iconedit:hover, #icondelete:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
#icondelete {
  display :inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
.confirm-button {
  width: 15%;
  margin-left: 50%;
}

:host ::ng-deep .ui-dialog {
  background-color: rgba(255, 255, 255, 0.87);
}
