.create-page {
  height: 100%;
}

.navbar {
  height: 12%;
}

.footer {
  height: 15%;
}

.background{
  background-image: url("/assets/capture.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 88%;
}

.desk{
  width: 60%;
  height: 25%;
  margin-left: 5%;
  color: #6b5c52;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme {
  font-size: 1.5em;
  margin-top: 20px;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  width: 33%;
  color: #F99797;
  font-weight: bold;
  font-size: 1.1em;
}

p-dropdown{
  color: #F99797;
  }

:host ::ng-deep.ui-dropdown-label {
  color: #F9A5A5;
  font-size: 1.1em;
  background-color: transparent;
}

:host ::ng-deep.ui-dropdown-panel{
  background-color: white;
}

.taskdef{
  padding: 2%;
  justify-content: space-between;
  display: inline-flex;
}

.taskdef h3 {
  font-size: 1.3rem;
  align-self: center;
}

.note-content {
  height: 70%;
  width: 100%;
  margin-top: 1.25%;
}

.notes{
  color: #6b5c52;
  font-size: 1em;
  overflow: auto;
  height: 550px;
  width: 475px;
  background: url('/assets/test/whitenotepad.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 25%;
  transform : rotate(-15deg);
}

.notes ul {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.notes h3 {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.notes li{
  font-weight: bold;
  padding: 1%;
  list-style: none;
  display: inline-flex;

  justify-content: flex-start;
}

.pins{
  vertical-align: middle;
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

.notes span {
  margin-top: 5px;
}

.importance {
  font-size: 1.3rem;
}
.primordiales{
 color: #F57BA8;
}
.facultatives{
 color: rgb(184, 173, 124);
}
.importantes{
 color: rgb(124, 190, 192);
}
.send{
  margin: auto;
  width: 40%;
}
.buttons{
  display: flex;
  flex-direction: row;
}
#iconedit{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
#iconedit:hover, #icondelete:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
#icondelete {
  display :inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
.confirm-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
  font-size: 1.25rem;
}

:host ::ng-deep .ui-dialog {
  background-color: rgba(255, 255, 255, 0.87);
}

@media screen and (min-width: 2000px) {
  .theme {
    font-size: 2.5rem;
  }

  .desk h3 {
    font-size: 3em;
  }

  .taskdef input{
    font-size: 1.5em;
  }

  :host ::ng-deep.ui-dropdown-label {
    font-size: 2em;
  }

  .taskdef h3 {
    font-size: 2.5rem;
  }

  .taskdef button {
    font-size: 1.5rem;
  }

  .notes{
    height: 850px;
    width: 600px;
  }

  .notes h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2.75rem;
  }

  .notes span{
    font-size: 2rem;
    margin-right: 15px;
  }

  .pins{
  height: 60px;
  width: 60px;
  margin-right: 15px;
  }

  #iconedit{
    width: 30px;
    height: 30px;
  }

  #icondelete {
    width: 45px;
    height: 45px;
  }

  .confirm-button {
    font-size: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .create-page {
    height: auto;
  }

  .desk {
    margin: 0px;
    width: 100%;
    height: 300px;
    justify-content: flex-start;
    align-content: center;
  }

  .desk h3 {
    align-self: center;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .desk input {
    align-self: center;
    width: 60%;
    font-size: 0.8rem;
    height: 30px;
    margin: 0px;
  }

  form {
    margin-top: 5px;
    font-size: 0.8rem;
  }

  .taskdef {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
  }

  .taskdef h3 {
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .taskdef input {
    height: 25px;
    margin: 0px;
    width: 60%;
    padding: 0;
  }

  p-dropdown{
    align-self: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .taskdef button {
    margin: 0;
    width: 30%;
    align-self: center;
  }

  .note-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
  }

  .notes{
    margin: 0;
    height: 100%;
    width: 90%;
    transform : rotate(0deg);
    align-self: center;
  }

  .pins{
    height: 25px;
    width: 25px;
  }

  .notes span {
    font-size: 1rem;
    margin-top: 5px;
  }


  #iconedit{
    width: 17px;
    height: 17px;
  }

  #icondelete {
    width: 27px;
    height: 27px;
  }

  .confirm-button {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
  }

  .confirm-button button {
    width: 50%;
    font-size: 1rem;
  }
}
