<p-carousel [value]="weekDaybookList" [numVisible]="4" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
  <p-header>
      <h3>Historique</h3>
  </p-header>
  <ng-template pTemplate="item">
    <div class="task-card">
      <div *ngFor="let daybook of weekDaybookList">
        {{daybook.theme}}
      </div>
      <div class="task-primordiale">
        <h3>Primordiales</h3>
          <div>
            <p></p>
          </div>
      </div>
      <div class="task-importante">
        <h3>Importantes</h3>
          <div>
            <p></p>
          </div>
      </div>
      <div class="task-facultative">
        <h3>Facultatives</h3>
          <div>
            <p></p>
          </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
<button (click)="test()">Click</button>
