:host ::ng-deep .ui-carousel {
  height: 80%;
}

p-header h3 {
  font-size: 30px;
}
:host ::ng-deep .ui-carousel-item .daybook-details {
  border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;
  height:200px;
}

:host ::ng-deep .ui-carousel-container{
  height: 250px;
}

:host ::ng-deep .ui-carousel-dot-item {
  background-color:#FA9E9D;
  margin-right: 5px;

}

:host ::ng-deep .ui-carousel-dot-icon {
  background-color: #FA9E9D;
}
