.home-page {
  height: 100%;
}

.navbar {
  height: 15%;
}

.footer {
  height: 15%;
}


.home-content {
  background-image: url("/assets/test2-fond-home-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 85%;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 100%;
}

.home-text p {
  font-size: 2.65rem;
  line-height: 1.5;
  margin-top: 50px;
  width: 70%;
}

.anim-1 {
  opacity: 0;
  animation: fadein 0.5s linear 0s;
  animation-fill-mode: forwards;
  width: 60%;
}

.anim-2 {
  opacity: 0;
  animation: fadein 0.5s linear 1s;
  animation-fill-mode: forwards;
  width: 60%;
}

.anim-3 {
  opacity: 0;
  animation: fadein 0.5s linear 2s;
  animation-fill-mode: forwards;
  width: 60%;
}

.home-bouton {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-top: 75px;
  margin-bottom: 100px;
}

.home-odysee-connection {
  font-size: 3rem;
  padding: 10px;
  background-color: transparent;
  border: solid #FA9E9D 1px;
  border-radius: 50px;
  color: #FA9E9D;
  opacity: 0;
  animation: fadein 0.5s linear 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.733);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.home-text b {
  color: #FA9E9D;
}

.home-odysee-connection:hover{

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media screen and (max-width: 600px) {
  .home-text {
    justify-content: flex-start;
  }

  .home-text p {
    font-size: 1.15rem;
    width: 50%;
    margin-top: 10px;
  }

  .home-bouton {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .home-odysee-connection {
    font-size: 1.5rem;
  }
}
