<div class="home-page">
  <div class="navbar">
    <dbk-navbar [homePage]="true"></dbk-navbar>
  </div>
  <div class="home-content">
    <div class="home-text">
      <div class="anim-1">
        <p>Bienvenue sur <b>Le journal d'un Pangolin !</b></p>
      </div>
      <div class="anim-2">
        <p>Ici, tu pourras facilement créer des <b>pense-bêtes</b> sur les tâches que tu dois réalisé dans ta <b>journée</b> !</p>
      </div>
      <div class="anim-3">
        <p>Commence <b>dès maintenant</b> à créer ton <b>journal de bord</b> en te connectant grâce à ton compte <b>Odyssey</b> !</p>
      </div>
      </div>
    <div class="home-bouton">
      <button class="home-odysee-connection"><a href="{{env.urlServer}}"><b>C'est parti !</b></a></button>
    </div>
  </div>
  <div class="footer">
    <dbk-footer></dbk-footer>
  </div>
</div>
