<dbk-navbar [homePage]="true"></dbk-navbar>
<div class="home-content">
  <div class="home-text">
    <p class="anim-1">Bienvenue sur <b>Le journal d'un pangolin !</b></p>
    <p class="anim-2">Ici, tu pourras facilement créer des <b>pense-bêtes</b> sur les <b>tâches</b> que tu dois réalisé dans ta journée !</p>
    <p class="anim-3">Commence <b>dès maintenant</b> à créer ton <b>journal de bord</b> en te connectant grâce à ton compte <b>Odysée</b> !</p>
    </div>
  <div class="home-bouton">
    <button class="home-odysee-connection"><a href="https://api.witpoc.com/oauth/odyssey/local"><b>C'est parti !</b></a></button>
  </div>
</div>
<dbk-footer></dbk-footer>

