/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;

}
::-webkit-scrollbar-track {
  background: rgb(226, 222, 222);
}
::-webkit-scrollbar-thumb {
  background: #F9a5a5;
  border-radius: 4px;
}
