/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding:0;
  // background-color: #FFFFFF;
  // #e2e1e0 gris odyssey
  // #FA9E9D rose clair ?
  // #F9A5A5 rose clair ?

  // .card {
  //   background: #fff;
  //   border-radius: 2px;
  //   display: inline-block;
  //   height: 300px;
  //   margin: 1rem;
  //   position: relative;
  //   width: 300px;
  //   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // }

}

html, body {
  height: 100%;
}
