<dbk-navbar [homePage]="false" [navigationNeeded]="true" [daybookNeeded]="true"></dbk-navbar>
<div class="dashboard-page">
  <div class="dashboard-histodiagram">
    <div class= "dashboard-historique">
      <dbk-calendar (datesSelected)="datesReceived($event)"></dbk-calendar>
      <!-- <dbk-historique [weekDaybookList]="datesFromCalendar"></dbk-historique> -->
    </div>
    <div class= "dashboard-diagram">
      <dbk-diagram [weekDaybookList]="datesFromCalendar"></dbk-diagram>
    </div>
  </div>
  <div class="dashboard-detail">
  </div>
</div>

